table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    td,th{
        padding:.5rem;
    }
    button{
        color: var(--white);
    }
    .delete{
        background-color: var(--danger);
    }
    .edit{
        background-color: var(--warning);
    }
}