.wrapper {
    background-color: rgb(78, 77, 77);
    width: 22rem;
    height: auto;
    min-height: 500px;
    color: var(--white);
    padding: 2rem;
    ul {
        margin-top: 2rem;
    }
    .list {
        color: var(--text-color);
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }
    .icon {
        margin-right: 1rem;
    }
    .active {
        color: red;
    }
}
