.wrapper {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active {
        background-color: #333;
        color: var(--white);
    }
    button {
        box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
        &:hover {
            box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.5);
        }
    }
}

.nav {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    button {
        border: 1px solid var(--border-color);
    }
    .btnAdd {
        background-color: var(--addBtn);
        color: var(--white);
    }
}
.content {
    width: 100%;
    margin-top: 2rem;

    button {
        background-color: transparent;
        padding: 8px 12px;
        margin: 0 0.5rem;
        border-radius: 2rem;
    }
}
.modalBody {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .modalLayer {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($color: gray, $alpha: 0.7);
    }
    .modalContainer {
        z-index: 101;
        position: absolute;
        width: 75%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border-radius: 0.8rem;
        overflow: hidden;
        .modalHeader {
            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem;
            color: var(--white);
            background-color: var(--addBtn);
            .icon {
                font-size: 2.4rem;
            }
        }

        .modalContent {
            .modalBtn {
                width: 100%;
                display: flex;
                margin-top: 2rem;
                justify-content: center;
            }
            button {
                min-width: 12rem;
                background-color: #50b9e0;
                color: white;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
                }
            }

            .gender {
                display: flex;
                .genderItem {
                    input {
                        margin-right: 0.5rem;
                    }
                    margin-right: 2rem;
                }
                .genderItem:first-child {
                    margin-bottom: 0.5rem;
                }
            }
            width: 100%;
            padding: 2rem;
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: space-between;
            .modalInput {
                display: flex;
                vertical-align: middle;
                margin-bottom: 1rem;
                label {
                    min-width: 15rem;
                    display: block;
                }
                select {
                    border: 1px solid var(--border-color);
                    width: 100%;
                    height: 4rem;
                    font-size: 1.6rem;
                    outline: none;
                    .option {
                        padding: 1rem;
                    }
                    cursor: pointer;
                    &:focus {
                        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
                    }
                }
                #select {
                    display: flex;
                    flex-direction: column;
                }

                input {
                    flex-grow: 1;
                    padding: 1rem;
                    font-size: 1.6rem;
                    border: 1px solid var(--border-color);
                    &::placeholder {
                        font-size: 1.6rem;
                    }
                    &:focus {
                        box-shadow: 0 0 0.5rem var(--border-color);
                    }
                }
            }
        }
        .wapperInfoProduct {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
            .img {
                max-height: 20rem;
                max-width: 10rem;
                overflow: hidden;
                border-radius: 5px;
                padding: 0.5rem;
                box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .infoInvoice {
                display: flex;
                flex-grow: 1;
                margin-left: 2rem;
                justify-content: space-between;
                .name {
                    max-width: 40%;
                }
                .price {
                    border-left: 1px solid var(--border-color);
                    display: flex;
                    padding-left: 2rem;
                    flex-direction: column;
                    flex-grow: 1;
                    span {
                        margin-bottom: 1rem;
                    }
                    .instock {
                        input {
                            border: 1px solid;
                            max-width: 5rem;
                            text-align: center;
                            border-radius: 3px;
                            margin: 0 1rem;
                        }
                    }
                }
            }
        }
    }
    .addImg {
        width: 100%;
        display: flex;

        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .previewIMG {
            min-width: 20rem;
            max-width: 30rem;
            min-height: 20rem;
            border-radius: 8px;
            margin-left: 2rem;
            overflow: hidden;
            background-color: rgba($color: gray, $alpha: 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            .noIMG {
                font-size: 4rem;
            }
        }
        button {
            max-height: 3.5rem;
            border: 1px solid;
        }
    }
}
