@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500;1,700&display=swap');
@import "../../assets/font/style.scss";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --nav-color:#525050;
    --background-color:#2d2d2d;
    --white:#fff;
    --black:#000;
    --danger:rgb(220,53,69);
    --warning:rgb(255,193,7);
    --success:rgb(45,164,78);
    --addBtn:rgb(38,158,255);
    --text-color:rgb(221, 215, 215);
}

html{
    font-size: 10px;
    font-family: "Roboto";
}
body{
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
input,button{
    cursor: pointer;
    border: none;
    outline: none;
}
img{
    display: block;
    object-fit: cover;
}