.wrapper {
    flex-grow: 1;
    margin-left: 2rem;
    background-color: white;
    padding: 2rem;
    .header {
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .icon {
            font-size: 3rem;
            margin-right: 1.5rem;
        }
    }
    .form {
        margin-top: 2rem;
        display: block;
        font-size: 2rem;
        max-width: 60%;
        .inputGroup {
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            border-radius: 3px;
            label {
                color: var(--text-color);
                margin-bottom: 1rem;
            }

            input {
                border: 1px solid;
                height: 4.6rem;
                font-size: 2rem;
                padding: 0 1rem;
                font-weight: 300;
            }
        }
        .btnSubmit {
            width: 100%;
            height: 4.6rem;
            display: flex;
            justify-content: center;
            button {
                width: 100%;
                height: 100%;
                font-size: 2rem;
                font-weight: 600;
                border-radius: 3px;
            }
        }
        #change {
            button {
                color: white;
                background-color: black;
            }
        }
    }
    .wrapperItem {
        margin-top: 2rem;
        box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        span {
            line-height: 2rem;
        }
        .title {
            max-width: 80%;
        }

        .headerItem {
            width: 100%;
            font-size: 1.2rem;
            display: flex;
            padding: 1rem;
            align-items: center;
            justify-content: space-between;
            margin: 1rem 0;
            border-bottom: 1px solid var(--border-color);
            .icon {
                &:first-child {
                    font-size: 1.2rem;
                }
                margin-right: 0.5rem;
            }
        }
        .info {
            color: orangered;
            font-size: 1.6rem;
            border: none;
            margin-left: 0.5rem;
        }
        .contentItem {
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            padding: 1rem;
            border-bottom: 1px solid var(--border-color);
            .infoProduct {
                span {
                    font-size: 1.4rem;
                    color: var(--text-color);
                }
            }
            .price {
                display: flex;
                flex-direction: column;
                text-align: right;
                min-width: 35%;
                position: relative;
                justify-content: space-between;
                p {
                    span:first-child {
                        font-size: 1.2rem;
                        text-decoration: line-through;
                        margin-right: 1rem;
                    }
                    span:last-child {
                        font-size: 1.6rem;
                        color: orangered;
                    }
                }
            }
            .footerItem {
                font-size: 1.6rem;
                position: absolute;
                bottom: 0;
                right: 0;
                span {
                    font-size: 1.8rem;
                    color: orangered;
                }
            }
        }
        .totalPrice {
            text-align: right;
            font-size: 2rem;
            padding: 0.5rem;
            span {
                color: orangered;
            }
        }
    }
}
