.wrapperTblPro {
    position: relative;

    .wrapperBtn {
        position: absolute;
        right: 0;
        top: -4.4rem;
        button {
            background-color: var(--addBtn);
            color: var(--white);
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        border-radius: 1rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        .nameWrapper {
            display: block;
            max-width: 15rem;
            flex-wrap: wrap;
            overflow: hidden;
            height: 100%;
            span {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 95%;
                border: none;
            }
        }
        .imgWrapper {
            overflow: hidden;
            object-fit: cover;
            max-height: 10rem;
            max-width: 20rem;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        td,
        th {
            padding: 0.5rem;
            line-height: 1.3;
        }
        th {
            background-color: #dbe1fb;
        }
        button {
            color: var(--white);
        }
        .delete {
            background-color: var(--danger);
        }
        .edit {
            background-color: var(--warning);
        }
    }
}
