.wrapperFooter{
    width: 100%;
    .footerContent{
        width: 100%;
        background-color: #eee;
        padding:3.2rem;
        display: flex;
        .item{
            width: 25%;
           h4{
            margin-bottom: 1rem;
            color: #666;
           }
            li{
                line-height: 3rem;
                cursor: pointer;
                color: #666;
                font-size: 1.4rem;
                
                &:hover{
                    color: #0770cf;;
                }
            }
        }
        
    }
   }